html,
body {
  scroll-behavior: smooth;
  /* display: flex;
  flex-direction: column; */
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

#nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
  position: sticky;
  overflow: hidden;
  background: black;
  color: white;
  margin-bottom: 20px;
}
.navbar {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
    color: white;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }
}

.container {
  width: 100vw;
}

#pg1 {
  display: flex;
  flex-direction: row;
  height: 92.5vh;
  padding-top: 80px;
  margin-top: -80px;
}
.img {
}
.img#avatar {
  border: 1px solid black;
  width: 500px;
  height: 600px;
  z-index: 1;
}
.img#avshadow {
  width: 500px;
  height: 600px;
  top: 20px;
  right: 10px;
  background-color: #2b8739;
}
.img#txt {
  border: 1px solid black;
  width: 300px;
  height: 400px;
  background-color: white;
  color: black;
  z-index: 1;
}
.img#txtshadow {
  width: 300px;
  height: 400px;
  background-color: #2b8739;
}

#pg2 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 92.5vh;
}
.box {
  display: flex;
  flex-direction: row;
}
.box#box1 {
  border: 1px solid black;
  width: 550px;
  height: 200px;
  color: black;
  background-color: white;
  color: black;
}
.box#box1shadow {
  width: 550px;
  height: 200px;
  background-color: green;
}
.box#box2 {
  border: 1px solid black;
  width: 550px;
  height: 200px;
  color: black;
  background-color: white;
}
.box#box2shadow {
  width: 550px;
  height: 200px;
  background-color: green;
}
.box#box3 {
  border: 1px solid black;
  width: 550px;
  height: 200px;
  color: black;
  background-color: white;
}
.box#box3shadow {
  width: 550px;
  height: 200px;
  background-color: green;
}

#pg3 {
  height: 92.5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .img#mchpch {
    display: flex;
    width: 300px;
    height: 300px;
  }
  .img#desert {
    display: flex;
    width: 300px;
    height: 300px;
  }
}

#pg4 {
  height: 92.5vh;
  h2 {
    display: flex;
    justify-content: center;
  }
}
.contactform {
  display: flex;
  justify-content: center;
}
.contact {
  #name,
  #email,
  #business,
  #description {
    display: flex;
    align-items: center;
    width: 500px;
  }
  #description {
    height: 300px;
  }
  input#submitbtn {
    background-color: white;
    color: black;
  }
}

.img {
}
