html,
body {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  background: black;
  color: white;
}

#nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 0;
  position: sticky;
  overflow: hidden;
  background: black;
  color: white;
  margin-bottom: 20px;
}
.navbar {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  a {
    text-decoration: none;
    color: white;
  }
  a:visited {
    text-decoration: none;
  }
  a:hover {
    text-decoration: none;
  }
  a:active {
    text-decoration: none;
  }
}

.container {
  width: 100vw;
}

#pg1 {
  display: flex;
  flex-direction: row;
  height: 92.5vh;
  padding-top: 80px;
  margin-top: -80px;
}
.img#avatar {
  position: relative;
  border: 1px solid black;
  width: 500px;
  height: 600px;
  z-index: 1;
}
.img#avshadow {
  position: relative;
  width: 500px;
  height: 600px;
  top: 40px;
  left: 550px;
  background-color: #2b8739;
}
.img#txt {
  position: relative;
  border: 1px solid black;
  width: 300px;
  height: 400px;
  background-color: white;
  color: black;
  z-index: 2;
}
.img#txtshadow {
  position: relative;
  width: 300px;
  height: 400px;
  top: 50px;
  left: 350px;
  background-color: #2b8739;
}

#pg2 {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 92.5vh;
}
.box {
  display: flex;
  flex-direction: row;
}
.box#box1 {
  position: relative;
  border: 1px solid black;
  width: 550px;
  height: 200px;
  color: black;
  background-color: white;
  color: black;
  z-index: 3;
}
.box#box1shadow {
  position: relative;
  width: 550px;
  height: 200px;
  bottom: 100px;
  left: 50px;
  background-color: #2b8739;
}
.box#box2 {
  align-self: center;
  position: relative;
  border: 1px solid black;
  width: 550px;
  height: 200px;
  color: black;
  background-color: white;
  z-index: 2;
}
.box#box2shadow {
  align-self: center;
  position: relative;
  width: 550px;
  height: 200px;
  bottom: 100px;
  left: 50px;
  background-color: #2b8739;
}
.box#box3 {
  align-self: flex-end;
  position: relative;
  border: 1px solid black;
  width: 550px;
  height: 200px;
  color: black;
  background-color: white;
  z-index: 1;
}
.box#box3shadow {
  align-self: flex-end;
  position: relative;
  width: 550px;
  height: 200px;
  bottom: 100px;
  left: 50px;
  background-color: #2b8739;
}

#pg3 {
  height: 92.5vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  .polaroid {
    border: 1rem solid white;
    width: 330px;
    height: 330px;
    padding-bottom: 50px;
    background-color: white;
  }
  .img#mchpch {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 1rem;
    border-color: white;
  }
  .img#desert {
    width: 300px;
    height: 300px;
    border-style: solid;
    border-width: 1rem;
    border-color: white;
  }
}

#pg4 {
  height: 92.5vh;
  h2 {
    display: flex;
    justify-content: center;
  }
}
.contactform {
  display: flex;
  justify-content: center;
}
.contact {
  #name,
  #email,
  #business,
  #description {
    display: flex;
    align-items: center;
    width: 600px;
    color: #2b8739;
  }
  #description {
    padding-bottom: 300px;
  }
  input#submitbtn {
    display: flex;
    justify-self: center;
    background-color: white;
    color: black;
    padding: 15px;
  }
}
